<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <base href="/"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        let contextPath    = /*[[@{/}]]*/
        console.log("cp: ", contextPath)
        $.get(contextPath + "api/user", function(data) {
            $("#user").html(data.name);
            $(".unauthenticated").hide()
            $(".authenticated").show()
        });

        /*]]>*/
    </script>

</head>
<body>
  <h1>OAuth2 demo</h1>

  <div class="container unauthenticated">
    Log in using GitHub: <a th:href="@{/oauth2/authorization/github}">click here</a>
  </div>

  <div class="container authenticated" style="display:none">
    Logged in as: <span id="user"></span>
  </div>

</body>
</html>