<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <base href="/"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/js-cookie/js.cookie.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        /** retrieve contextPath **/
        let contextPath = /*[[@{/}]]*/
        //console.log("cp: ", contextPath)

            /** configure csrf cookie **/
        $.ajaxSetup({
            beforeSend : function(xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT'
                    || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                        .test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-XSRF-TOKEN",
                            Cookies.get('XSRF-TOKEN'));
                    }
                }
            }
        });

        /** try to get user info from backend **/
        $.get(contextPath + "api/user", function (data) {
            $("#user").html(data.name);
            $(".unauthenticated").hide()
            $(".authenticated").show()
        });

        /** define logout function called logout button **/
        let logout = function() {
            $.post(contextPath + "logout", function() {
                $("#user").html('');
                $(".unauthenticated").show();
                $(".authenticated").hide();
            })
            return true;
        }

        /*]]>*/
    </script>

</head>
<body>
<h1>OAuth2 demo</h1>

<div class="container unauthenticated">
    Choose login provider:
    <div>
        <a th:href="@{/oauth2/authorization/github}">Github</a>
    </div>
    <div>
        <a th:href="@{/oauth2/authorization/google}">Google</a>
    </div>
</div>

<div class="container authenticated" style="display:none">
    Logged in as: <span id="user"></span>
    <div>
        <button onClick="logout()" class="btn btn-primary">Logout</button>
    </div>
</div>

</body>
</html>